table tr{
  width: 100%;
  font-size: 20px;
  text-align: center;
}
table tr td{
  width: 14%;
  
}
.inputne {
  width: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px !important;
}
.remcart{
  background-color: red !important;
  color:white !important;
  font-weight: bold !important;
}