.main-container {
  display: table;
  width: 100%;
  border-spacing: 5px;
  border-collapse: collapse;
}

.search-container {
  width: 50%;
  clear: both;
}

.search-item {
  width: 60%;
}

.product-image {
  img {
    text-align: center;
    display: block;
    align-items: center;
    height: 150px;
  }
}
.product-image:hover img {
  //transform: scale(1.2);
  //box-shadow: 2px 2px 3px ;
}

.product-name {
  //color: #111111f8;
  text-align: center;
}

.product-price {
  //color: #0f0401bb;
  text-align: center;
}

.body-container {
  display: table-row;
  width: auto;
  clear: both;
}

.filter-container {
  float: left;
  display: table-column;
  width: 25%;
  border-top: 1px solid #e3e7e8;
}

.items-main-container {
  float: left;
  display: table-column;
  width: 40%;
  border-top: 1px solid #e3e7e8;
  border-left: 1px solid #e3e7e8;
  border-right: 1px solid #e3e7e8;
  overflow-y: scroll;
  max-height: 800px;
}

.cart-container {
  float: left;
  display: table-column;
  width: 35%;
  border-top: 1px solid #e3e7e8;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

.items-container {
  width: auto;
  clear: both;
}

.main-product-sub-container {
  display: flex;
  padding: 16px 32px;
  cursor: pointer;
}
.main-product-sub-container:hover {
  background-color: #f5f5f5;
  // transform: scale(1.1);
  // transition: transform 0.5s ease;
}

.non-bullet-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-image {
  overflow: hidden;
  height: 150px;
  justify-content: center;
  width: 35%;
  float: left;
  display: table-column;
}

.product-details {
  width: 59%;
  float: left;
}

.product-name-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  word-break: break-word;
}

.product-unit-text {
  font-size: 14px;
  line-height: 18px;
  margin-top: 8px;
}

.product-cost-container {
  margin-top: 12px;
}

.product-cost {
  width: 40%;
  float: left;
}

.add-to-cart {
  margin: 0;
  padding: 0;
  border: 0;
  float: right;
}

.add-button {
  width: 81px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: inline-flex;
  border: 1px solid #146eb4;
  border-radius: 4px;
  height: 28px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #146eb4;
  -webkit-user-select: none;
  user-select: none;
  user-select: none;
}

.add-button>span {
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  position: relative;
  top: 1px;
}

.qty-button {
  display: inline-flex;
  border: 1px solid #146eb4;
  border-radius: 4px;
  height: 28px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #146eb4;
  -webkit-user-select: none;
  user-select: none;
  // display: none;
}

.remove-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 26px;
}

.qty {
  min-width: 20px;
  background-color: rgba(20, 110, 180, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-category-link {
  color: #1a181e;
  text-transform: capitalize;
  padding: 6px 8px 6px 0;
  display: block;
  font-size: 16px;
  line-height: 24px;
  height: 36px;
  cursor: pointer;
  border-right: 4px solid transparent;
  position: relative;
  overflow: hidden;
}

.item-category-link.active {
  color: #146eb4;
  font-weight: 500;
  background-image: -webkit-gradient(linear,right top,left top,from(rgba(20,110,180,.08)),to(rgba(20,110,180,0)));
  background-image: -webkit-linear-gradient(right,rgba(20,110,180,.08),rgba(20,110,180,0));
  background-image: linear-gradient(270deg,rgba(20,110,180,.08),rgba(20,110,180,0));
  border-right-color: #146eb4;
}

.filter-categories {
  margin-left: 10em ;
}

.empty-cart {
  width: 80%;
  background-image: url("../images/emptyCart.jpg");
  height: 300px;
}

.cart-items-header {
  width: 100%;
}

.cart-header-text {
  width: 50%;
  float: left;
}

.cart-items-count {
  background-color: #146eb4;
  border-radius: 4px;
  padding: 2px 6px;
  color: #fff;
  margin-left: 6px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  min-width: 29px;
  text-align: center;
  display: inline-block;
}

.clear-cart {
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  border-bottom: 1px solid #4d4d4d;
  color: #4d4d4d;
  width: 13%;
  float: left;
  padding-top: 1.01em;
}