.main-app-container {
    width: 100%;
    float: left;
    display: table-row;
}

.main-header-container {
    width: 100%;
    float: left;
    height: 90px;
    margin-bottom: 2em;
}

.main-body-container {
    width: 100%;
    float: left;
    position: fixed;
    margin-top: 120px;
}